<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titan - Nutrition</title>
</head>
<body>

<div class="container">
    <h2>Welcome to the Nutrition Menu!</h2>

    <div class="button-stack">
        <a href="{% url 'create_food' %}" class="btn btn-primary">Create Food</a>
        <br>
        <a href="{% url 'log_food' %}" class="btn btn-primary">Log_Food</a>
        <br>
        <a href="{% url 'dashboard' %}" class="btn btn-danger">Return</a>

    </div>
</div>

</body>
</html>